# Terraform
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform.lock.hcl
terraform/secrets.tfvars

# Backend
backend/data
backend/logs
backend/__pycache__
backend/*/__pycache__/
backend/.env

# Frontend 
frontend/node_modules
frontend/.env

# System files
.DS_Store
**/.DS_Store

# Temporary files
*.tmp
*.temp
temp_*
*.pyc