# Use this file as an example to define sensitive variables for WeRadio Terraform deployment
# Be sure to update the values with your own secrets immediately

postgres_password = "your_postgres_password"
redis_password    = "your_redis_password"
minio_root_password = "your_minio_root_password"
minio_secret_key  = "your_minio_secret_key"